@charset "UTF-8";
/*******************/
/*******************/
/*******************/
/*****  .form  *****/
/*******************/
/*******************/
/*******************/
.order__form {
  position: relative;
  width: 100%;
  max-width: 420px;
  border-radius: 3px;
  overflow: hidden; 
  margin: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
} 
@media (min-width: 992px) {
  .order__form {
    margin: 0 0 0 auto;
  }
}

/* form header */
.order__form .form-header {
  padding: 20px 0;
}

.order__form--top .form-header {
  background: rgb(244,244,244);
  background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(129,236,211,1) 100%);  
}

.order__form--bottom .form-header {
  background: rgb(244,244,244);
  background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(51,175,255,1) 100%); 
}

/* form title */
.order__form .form-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.order__form .form-title span {
  margin-bottom: 20px;
}
.order__form .form-title span:last-child {
  margin-bottom: 0;
}

/* form content */
.order__form .form-content {
  position: relative;
  padding: 30px;  
  background-color: #f4f4f4;
}

.order__form .form .form-group {
  margin-bottom: 0;
}

.order__form .form .form-group:last-child {
  margin-top: 25px;
}

.order__form .form select,
.order__form .form input[type=tel],
.order__form .form input[type=text] {
  padding-left: 48px !important;
  background-repeat: no-repeat !important;
  background-position: 15px center !important; 
}

.order__form .form select {
  background-image: url(../img/country.png); 
}

.order__form .form input[type=tel] {
  background-image: url(../img/phone.png); 
}

.order__form .form input[type=text] {
  background-image: url(../img/avatar.png); 
}

/* submit btn */
.order__form .form .btn-submit {
  display: block;
  padding: .47em;
  position: relative;
  z-index: 400;
  font-size: 20px;
  font-size: 2rem;
  width: 100%;
  max-width: 280px;
  margin: auto;
  text-transform: uppercase;
  background: rgb(157,208,12); /* #BDFFF3; */
  background: linear-gradient(0deg, rgba(157,208,12,1) 0%, rgba(141,189,3,1) 100%);
  color: #fff;
  font-weight: 600;
  border-radius: 3px;  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
@media (min-width: 768px) {
  .order__form .form .btn-submit {
    max-width: 100%;
  }
}
/******* end *******/

/* form footer */
.order__form .form-footer {
  background: #f4f4f4;
}
.order__form .form-footer p {
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
/*******************/
/*******************/
/*******************/
/******* end *******/
/*******************/
/*******************/
/*******************/